.login-full-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 12px 8px;
}
.login-dialog-box {
    display: flex;
    flex-direction: column;
    height: 225px;
    width: 100%;
    margin-top: 48px;
    box-sizing: border-box;
}
.dialog-box-title-area {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--nav-bg);
    color: var(--btn-txt);
    border-radius: 16px 16px 0 0;
}
.dialog-box-content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 auto;
    padding: 12px 8px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    background-color: var(--form-body);
    border-radius: 0 0 16px 16px;
}
.login-input {
    display: flex;
    width: 90%;
    height: 24px;
}
.error-text {
    color: red;
}
.login-submit-btn {
    display: flex;
    background-color: var(--btn-bg);
    color: var(--btn-txt);
    border-radius: 16px;
    padding: 8px 16px;
}
