.all-pages-main-container {
  width: 100%;
  height: 100%;
}
#root ,body ,html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
}
/*Here comees the styling */
:root {
    --bg-color: #ffffff;
    --text-color: black;
    --nav-bg: #0E2954;
    --btn-bg: #4998e8;
    --btn-txt: #ffffff;
    --btn-hover-bg: #387ec4;
    --primary-btn-hover-color: 1px solid blue;
    --product-card-bg-color: #e3f0ff;  /* Each Product or Card bg */
    --card-img-bg: #cae4ff;
    --product-prices-color:rgb(32, 96, 136);
    --form-body: #bbdeff;
}
