.home-full-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.home-content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 12px 8px;
    box-sizing: border-box;
}
.home-heading-area {
    display: flex;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 734px) {
    .home-heading-area {
        font-size: 24px;
        height: 60px;
    }
}